body {
    font-family: sans-serif;
    background-color: black;
    margin: 0;
}

header {
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #04356C;

}

.button {
    background-color: #FFFFFF;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    float: right;
    margin-top: 10px;
}

nav {
    display: flex;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-around;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    
}

h1 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    padding: 70px;
    width: 1100px;
    margin: 0px auto;
    
    
}

article {
    background-color: white;
    padding: 30px;
    width: 400px;
    
    margin: 40px;
}

.article-but {
    text-decoration: none;
    background-color: #0D56A6;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}

footer {
    background-color: #04356C;;
    padding: 20px;
}

footer a {
    margin-right: 40px;
    
}

footer p {
    font-size: 24px;
    color: white;
    float: right;
}
h1{
    color: white;
}
]
